* {
  padding: 0px;
  margin: 0px;
}

#map {
  position: absolute;
  height: inherit;
}

.myLocation {
  margin: auto;
  top: auto;
  right: 20px;
  bottom: 100px;
  left: 85%;
  position: fixed;
}

.myLocationDiv {
  z-index: 10;
}

/* #privateSwitch {
  z-index: 10;
  left: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
} */
